@import '../../Helpers/utils.scss';

.controllersList {
    @extend %list-throw;
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .controllersItem {
    padding: 10px;
    transition: transform $animation-timing;
    cursor: pointer;
    &:first-child {
      background-color: $sumbit-controller;
    }
    background-color: $edit-controller;
    &:last-child {
      background-color: $delete-controller;
    }
    &:not(:last-child) {
      margin-right: 15px;
    }
    &:hover, &:focus {
      transform: translatey(5px);
    }
  }
  .controllersSvg {
    pointer-events: none;
    width: 40px;
    height: 40px;
  }