// colors

$bg-color: #424a5d;
$sidebar-text: #aeb2b7;
$text-color: #333333;
$white-color: #ffffff;
$hover-color: #68dff0;
$button-color: #5cb85c;
$header-bg: #ffd777;
$section-color: #F6DDDF;
//status colors

$green-status: #a9d86e;
$yellow-status: #fcb322;
$red-status: #ff6c60;
//controllers
$sumbit-controller: #5cb85c;
$edit-controller: #428bca;
$delete-controller: #d9534f;
//animation
$animation-timing: 0.4s ease-in-out;

// fonts
$roboto: 'Roboto', sans-serif;
$sans: 'Noto Sans JP', sans-serif;
body {
  font-family: $roboto;
}
//throws
%text-throw {
  margin: 0;
}
%list-throw {
  list-style: none;
  padding: 0;
  margin: 0;
}
%link-throw {
  display: block;
  text-decoration: none;
}

// styles

%button-style {
  background-color: $button-color;
  border: none;
  outline: none;
  padding: 10px 25px;
  border-radius: 10px;
  color: $white-color;
  transition: $animation-timing;
  &:hover,
  &:focus {
    transform: scale(1.07);
    background-color: $hover-color;
  }
}

%controllers-style {
  background-color: $sumbit-controller;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  fill: $white-color;
  transition: transform $animation-timing;
  &:hover,
  &:focus {
    transform: scale(1.07);
  }
  & svg {
    width: 20px;
    height: 20px;
  }
}
%status-style {
  display: inline-block;
  background-color: $sumbit-controller;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 10px;
  color: $white-color;
}
